production:
  names_list_path: "<%= File.join(File.dirname(__FILE__), 'data') %>"
  names_list: ''
  persist_used_names: false
  play_sound: true

test:
  names_list_path: "<%= File.join(File.dirname(__FILE__), 'test_dir') %>"
  names_list: 'names_list'
  persist_used_names: false
  play_sound: false
